body {
    background-color: #110c16;
    color: #5a5a97;
    font-family: "Alata", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    
}
::selection {
    color: #8915cd;
    background: #b7b1be25;
}

a {
    background-color: transparent;
    color: wheat;
}

header {
    color: wheat;
    text-shadow: 2px 2px 70px;
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
}

h3 {
    color: wheat;
    font-size: x-large;
    text-shadow: 2px 2px 50px;
}

.header {
    color: wheat;
    text-shadow: 2px 2px 70px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 3em;
}


.main {
    font-size: larger;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    background: #130e1a;
    border-radius: 12px;
    border: 6px solid #aa383e;
}

.frame {
    border-style: ridge;
    border-radius: 1px;
    border-color: #181120;
    background: linear-gradient(to left bottom, #1a0e3e, black);
    margin: 2em;
    height: 13em;
    padding: 2em;
    padding-right: 22%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 6%;
    padding-right: 6%;
}

.sideimg {
    margin-top: 4em;
    width: 20cap;
    height: 15%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.postcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: space-around;
}

.post {
    background: linear-gradient(to left bottom, #1a0e3e, black);
    border-style: ridge;
    border-radius: 5px;
    border-color: #181120;
    
    width: 16em;
    margin: 1em;
    overflow: hidden;
    text-align: center;
    transition: transform 0.07s ease-in-out;
}

.post:hover {
    transform: scale(0.9);
}

.postimg {
    position: relative;
    margin-bottom: 5%;
    width: 100%;
}
