body {
    background-color: rgb(17, 12, 22);
    color: rgb(90,90,151);
    font-family: "Alata", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    
}
a{
    background-color: transparent;
    color: wheat;
}
header {
    color: wheat;
    text-shadow: 2px 2px 70px;
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
}
.header {
    color: wheat;
    text-shadow: 2px 2px 70px;
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
}


h3 {
    color: wheat;
    font-size: xx-large;
    text-shadow: 2px 2px 50px;
}

main {
    font-size: larger;
}

.frame {
    border-style: ridge;
    border-radius: 1px;
    border-color: rgb(34, 19, 76);
    background: linear-gradient(to left bottom ,#1a0e3e, black);
    margin: 3em;
    padding: 2em;
    padding-right: 22%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 6%;
    padding-right: 6%;
}

.sideimg {
    margin-top: 2.5em;
    width: 20cap;
    height: 20%;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    background: linear-gradient(to left bottom ,#1a0e3e, black);
    border-style: ridge;
    border-radius: 1px;
    border-color: rgb(34, 19, 76);
    width: 30%;
    margin: 1em;

    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.1s ease-in-out;
}
.post:hover{
    transform: scale(0.9);
}
.postimg {
    position:relative;
    margin-bottom: 5%;
    width: 100%;
}